# Use delta as default pager
# cargo install git-delta
#
[includeIf "gitdir:~/"] # include for all .git projects under personnal/ 
path = ~/personal/.gitconfig-pers
 
[includeIf "gitdir:~/work/"]
path = ~/work/.gitconfig-work

[core]
    #hooksPath = /home/doggao/gitglobalhooks
    pager = delta
	  excludesfile = /home/doggao/.gitignore


[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-number = true
    theme="Dracula"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main
 
 
[core]
excludesfile = ~/.gitignore      # valid everywhere

[user]
	email = guilherme.vieira.beira@gmail.com
	name = guibeira
