[user]
	email = guilherme.vieira.beira@gmail.com
	name = guilhermevbeira

# Use delta as default pager
# cargo install git-delta
[core]
    #hooksPath = /home/doggao/gitglobalhooks
    pager = delta
	  excludesfile = /home/doggao/.gitignore


[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-number = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
